<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:label="http://schemas.android.com/apk/res-auto"
    package="g4eis.ontern.g4project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Splashscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Campus"
            android:label="Campus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImportantContacts"
            android:label="Important Contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Accounts"
            android:label="Accounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccDetails"
            android:label="AccDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewPagerActivity.TabWithIconActivity"
            android:label="@string/title_dos_donts" />
        <activity android:name=".Profile_edit" />
        <activity
            android:name=".profile_fragment"
            android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".Feedback" />
        <activity android:name=".About_us" />
        <activity android:name=".faq"></activity>
    </application>

</manifest>